<div
  class="z-50 flex h-16 w-full min-w-full max-w-80 items-center justify-between gap-3 bg-white p-5 sm:h-16 sm:w-full sm:flex-row md:visible md:h-full md:w-3/12 md:min-w-72 md:flex-col md:items-start md:rounded-xl md:shadow-xl md:shadow-slate-200 xl:visible xl:w-3/12">
  <div class="flex h-10 w-full">
    <a routerLink="/home" class="flex flex-row gap-3 items-center">
      <img src="assets/img/logo.svg" alt="" class="h-9" />
      <span class="text-md font-bold text-blue-500">RideCompanion</span>
    </a>
  </div>
  <hr class="invisible w-full border-slate-200 md:visible" />
  <div class="invisible w-0 md:visible md:h-full md:w-full">
    <ul class="flex flex-col h-full w-full gap-3">
      <li class="flex flex-col">
        <a routerLink="/home" routerLinkActive="routeLink text-white" class="bg-slate-50 rounded-lg p-3">
          <span>🗺</span>
          <span>Home</span>
        </a>
      </li>
      <li class="flex flex-col">
        <a routerLink="/ride" routerLinkActive="routeLink text-white" class="bg-slate-50 rounded-lg p-3">
          <span>🗺</span>
          <span>Rides</span>
        </a>
      </li>
      <li class="flex flex-col">
        <a routerLink="/companion" routerLinkActive="routeLink text-white" class="bg-slate-50 rounded-lg p-3">
          <span>🗺</span>
          <span>Companions</span>
        </a>
      </li>
      <li class="flex flex-col">
        <a routerLink="/driver" routerLinkActive="routeLink text-white" class="bg-slate-50 rounded-lg p-3">
          <span>🗺</span>
          <span>Drivers</span>
        </a>
      </li>
      <li class="flex flex-col">
        <a routerLink="/about" routerLinkActive="routeLink text-white" class="bg-slate-50 rounded-lg p-3">
          <span>🗺</span>
          <span>About</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="invisible flex w-0 flex-col gap-3 rounded-lg bg-slate-100 p-4 text-slate-800 md:visible md:w-full">
    <h5 class="text-base font-semibold">Text</h5>
    <p class="text-sm">Tailwind CSS works by scanning all of your HTML files, JavaScript components, and any
      other templates.</p>
  </div>
  <div class="flex w-full flex-row-reverse items-center justify-between gap-2 md:flex-row">
    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="RideCompanionBot"
      data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
    <script type="text/javascript">
      function onTelegramAuth(user) {
        alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');
      }
    </script>
  </div>
  <button class="flex w-full flex-row-reverse items-center justify-between gap-2 md:flex-row" type="button"
    data-drawer-target="drawer-left-user" data-drawer-show="drawer-left-user" data-drawer-placement="left"
    aria-controls="drawer-left-user">
    <img src="https://img.icons8.com/?size=100&id=kDoeg22e5jUY&format=png&color=000000" alt="" class="w-10" />
    <p class="invisible sm:hidden md:visible md:flex md:w-full">User Name</p>
  </button>
</div>

<div class="rounded-xle z-50 flex w-full px-5 md:hidden pt-9">
  <div class="container flex gap-5 rounded-lg md:hidden">
    <a routerLink="/ride" routerLinkActive="navTabActive"
      class="w-3/6 flex flex-row items-center gap-2 rounded-lg bg-white p-3 shadow-md shadow-slate-200">
      <img src="https://img.icons8.com/?size=100&id=0RqnlqZVve1H&format=png&color=000000" alt="" class="w-10" />
      <p class="text-sm font-bold">Rides</p>
    </a>
    <a routerLink="/companion" routerLinkActive="navTabActive"
      class="w-3/6 flex flex-row items-center gap-2 rounded-lg bg-white p-3 shadow-md shadow-slate-200">
      <img src="https://img.icons8.com/?size=100&id=AOFyiZDRm1xv&format=png&color=000000" alt="" class="w-10" />
      <p class="text-sm font-bold">Companions</p>
    </a>
  </div>
</div>

<div id="drawer-left-user"
  class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800"
  tabindex="-1" aria-labelledby="drawer-left-label">
  <div class="flex flex-col max-w-sm mx-auto h-full justify-between">
    <div id="drawer-left-label"
      class="inline-flex items-center mb-4 gap-2 text-base font-semibold text-gray-500 dark:text-gray-400">
      <img src="https://img.icons8.com/?size=100&id=kDoeg22e5jUY&format=png&color=000000" alt="" class="w-4" />
      {{user?.first_name}}
    </div>
    <button type="button" data-drawer-hide="drawer-left-user" aria-controls="drawer-left-user"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg>
      <span class="sr-only">Close</span>
    </button>

    <div class="flex flex-col h-full w-full">
      <div class="flex flex-col mb-5 w-full items-center">
        <img src="https://img.icons8.com/?size=100&id=kDoeg22e5jUY&format=png&color=000000" alt="" class="w-24" />
        <h4>{{user?.first_name}}</h4>
        <div class="flex flex-col w-full justify-start">
          <p class="flex w-full justify-between"><span class="text-slate-400 w-full">Email:</span> bQoJt</p>
          <p class="flex w-full justify-between"><span class="text-slate-400">Phone Number:</span> 123456789</p>
          <p class="flex w-full justify-between"><span class="text-slate-400">Address:</span> 123 Main St, Anytown, USA</p>
          <p class="flex w-full justify-between"><span class="text-slate-400">Zip Code:</span> 12345</p>
        </div>
        <div *ngIf="!user">
          <p>User information not available.</p>
        </div>
        <div *ngIf="user">
          <img [src]="user.photo_url" alt="User Photo">
          <p>is_bot: {{user.is_bot}}</p>
          <p>first_name: {{user.first_name}}</p>
          <p>last_name: {{user.last_name}}</p>
          <p>username: {{user.username}}</p>
          <p>language_code: {{user.language_code}}</p>
          <p>is_premium: {{user.is_premium}}</p>
          <p>added_to_attachment_menu: {{user.added_to_attachment_menu}}</p>
          <p>allows_write_to_pm: {{user.allows_write_to_pm}}</p>
          <p>photo_url: {{user.photo_url}}</p>
        </div>
      </div>
    </div>

  </div>
