<div class="flex flex-col items-center justify-center h-full gap-10">
  <img src="./assets/img/404Bot.png" alt="" class="w-4/12">
  <div class="console">
    <span class="font-black uppercase font-monospace">
      404, page not found.
    </span>
  </div>
  <a routerLink="/home" routerLinkActive="active" class="btn-blue">Home</a>
</div>
