<ul class="flex flex-row gap-3 w-full sm:justify-start justify-center">
  <li routerLink="/ride/list" routerLinkActive="routeLink" class="btn-slate-100">
    All rides
  </li>
  <li routerLink="/ride/my" routerLinkActive="routeLink" class="btn-slate-100">
    My rides
  </li>
</ul>
