﻿<app-nav-bar class="md:p-5"></app-nav-bar>
<div class="w-full h-full bg-slate-50">
  <div class="w-full h-full">
    <div class="z-10 flex w-full p-5 md:px-0 md:pr-4 md:pt-5">
      <div class="flex w-full flex-col gap-5 rounded-xl bg-white p-5">
        <div class="flex gap-3">
          <span>🗺</span>
          <h3 class="text-xl font-semibold">{{title}}</h3>
        </div>
        <hr>
        <router-outlet hidden></router-outlet>
      </div>
    </div>
  </div>
</div>
