<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">First Name</th>
        <th scope="col" class="px-6 py-3">Last Name</th>
        <th scope="col" class="px-6 py-3">Age</th>
        <th scope="col" class="px-6 py-3">Last Name</th>
      </tr>
    </thead>
    <tbody>
      @for (companion of companionsList; track companionsList) {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ companion.name }}</th>
        <td class="px-6 py-4">{{ companion.username }}</td>
        <td class="px-6 py-4">{{ companion.birthDate.getFullYear() }}</td>
        <td class="px-6 py-4">{{ companion.address.city }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
