/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html{
  width: 100vw;
  height: 100vh;
  --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
  --h-fw: 700;
}

body{
  width: 100vw;
  height: 100vh;
}

app-root{
  width: 100vw;
  height: 100vh;
}

main{
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: var(--fs-xxxl);
  font-weight: var(--h-fw);
}

h2 {
  font-size: var(--fs-xxl);
  font-weight: var(--h-fw);
}

h3 {
  font-size: var(--fs-xl);
  font-weight: var(--h-fw);
}

h4 {
  font-size: var(--fs-lg);
  font-weight: var(--h-fw);
}

h5 {
  font-size: var(--fs-md);
  font-weight: var(--h-fw);
}


@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg;
  }

  .btn-slate-100 {
    @apply bg-slate-100 hover:bg-blue-600 text-slate-900 py-2 px-4 rounded-lg hover:text-white font-semibold;
  }
}

