<app-ride-route></app-ride-route>

<div class="z-10 flex w-full pt-4">
  <div class="flex w-full flex-col gap-5 rounded-xl bg-white">
    <div class="flex items-center justify-between">
      <div class="flex gap-3">
        <span>🗺</span>
        <h3 class="text-xl font-semibold">My rides</h3>
      </div>
    </div>
    <div class="container">
      <div class="relative overflow-x-auto sm:rounded-lg">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-6 py-3">
                    №
                  </th>
                  <th scope="col" class="px-6 py-3">
                    From
                  </th>
                  <th scope="col" class="px-6 py-3">
                    To
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Date
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    1
                  </th>
                  <td class="px-6 py-4">
                    Bishkek
                  </td>
                  <td class="px-6 py-4">
                    Karakol
                  </td>
                  <td class="px-6 py-4">
                    12.01.2022
                  </td>
                  <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                  </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    2
                  </th>
                  <td class="px-6 py-4">
                    Bishkek
                  </td>
                  <td class="px-6 py-4">
                    Karakol
                  </td>
                  <td class="px-6 py-4">
                    12.01.2022
                  </td>
                  <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                  </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    3
                  </th>
                  <td class="px-6 py-4">
                    Bishkek
                  </td>
                  <td class="px-6 py-4">
                    Karakol
                  </td>
                  <td class="px-6 py-4">
                    12.01.2022
                  </td>
                  <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
