<p>log-in works!</p>

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="login" />
  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="password" />
  <button type="submit" [disabled]="!loginForm.valid">Submit</button>
</form>
